:root {
    --background: #F2F6D0;
    --primary: #443627;
    --secondary: #EFDCAB;
    --accent: #D98324;
    --white: #ffffff;
    --black: #000000;
}
* {
    margin: 0;
    padding: 0;
    
}
body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  
}
main{
    background-color: #EFDCAB;
    flex: 1;
    align-self: center;
    padding-top: 10px;
    width: 80%;
}
.box{
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.pagetop{
    background-color: var(--primary);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary); 
    text-align: center;   
    font-size: 25px;
    font-weight: bold;
    height: 40px;
}
.inputfield{ /*idk jak sie to robi narazie będzie tak*/
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 0.5em;
}

button{
    background-color: var(--primary);
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition-duration: 0.5s;
}
button:hover{
    background-color: var(--accent);
}

