:root {
  --black: #000;
  --white: #ffffff;
  --background: #dcd7c9;
  --main-background: #b8b8b8;
  --primary: #3f4f44;
  --secondary: #2c3930;
  --accent: #a27b5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  /* font-size: 1.5rem; */
  font-style: normal;
}

header {
  background-color: var(--black);
  color: var(--white);
  padding: 1em;
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  background-color: var(--secondary);
  background-image: url("../resources/car_bg.jpg");
  background-size: cover;

  /* background: #f1f1f1; */
  /* background-image: linear-gradient(
      90deg,
      transparent 50px,
      #ffb4b8 50px,
      #ffb4b8 52px,
      transparent 52px
    ),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 100% 30px; */
}

main {
  flex: 1;
  padding: 1em;
}

header {
  background-color: var(--primary);
  color: var(--black);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--accent);
}

.container {
  color: var(--black);
  background-color: var(--background);
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 1em;
}

footer {
  background-color: var(--secondary);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#authors-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

#authors-list li {
  margin: 0.5em;
  padding: 0.5em;
  color: var(--white);
}
