:root {
  --background: #fdfbee;
  --primary: #57b4ba;
  --secondary: #015551;
  --accent: #fe4f2d;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;

  --s: 100px;
  /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(from 30deg,
      #0000 0 120deg,
      var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s) * 0.577);
}

header {
  background-color: var(--primary);
  color: var(--black);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  align-self: center;
  padding: 1em;
  width: 80%;
}

footer {
  background-color: var(--secondary);
  color: var(--white);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition-duration: 0.5s;
}

button:hover {
  background-color: var(--secondary);
}

.panel {
  background-color: var(--background);
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 1em;
}

#elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#dynamic-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
}

.menu-item {
  text-align: center;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  min-width: 12%;
  max-height: 40px;
}

#dynamic-width {
  display: flex;
  align-items: center;
  margin: 0.5em;
}

#left {
  background-color: var(--primary);
  height: 100%;
  min-height: 20px;
  width: 49%;
}

#center {
  background-color: var(--accent);
  position: relative;
  height: 100%;
  min-height: 20px;
  width: 2%;
}

#right {
  background-color: var(--secondary);
  height: 100%;
  min-height: 20px;
  width: 49%;
}

#game {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  margin-top: 1rem;
}

#field {
  width: 50%;
  max-width: min(50vh, 50vw);
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 0.4rem solid var(--secondary);
  border-radius: 0.5em;
  gap: 0;
  margin-left: 10rem;
  background-color: var(--secondary);
}

.cell{
  border-radius: 0.5em ;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(20n+1),
.cell:nth-child(20n+3),
.cell:nth-child(20n+5),
.cell:nth-child(20n+7),
.cell:nth-child(20n+9),
.cell:nth-child(20n+12),
.cell:nth-child(20n+14),
.cell:nth-child(20n+16),
.cell:nth-child(20n+18),
.cell:nth-child(20n+20) {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(10n) {
  border-right: none;
}

.cell:nth-child(n+91):nth-child(-n+100) {
  border-bottom: none;
}

.selected {
  border: 5px solid !important;
  border-color: var(--primary) !important;
}
.lastselected{
    border: 5px solid !important;
    border-color: var(--accent) !important;
}

.pawn {
  background-image: url('favicon.gif');
  background-size: cover;
  width: 100%;
  height: 100%;
}

input {
  font-size: large;
  text-align: center;
  background-color: var(--primary) !important;
  color: var(--black);
  border: var(--white);
  border-radius: 0.5em;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  outline: none;
  -webkit-appearance: none;
}
input::placeholder{
  color: var(--white);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.goback{
  display: none;
  justify-content: center;
  padding: 1em;
  margin-bottom: 1em;
}